<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>

    <form method="post" action="/login">
         <span th:text="${msg}" style="color: red"></span><br>
         用户名： <input type="text" name="username" id="userName"/><br>
         密&emsp;码： <input type="password" name="password" id="password"/><br>
         验证码： <input type="text" name="verifyCode"><br>
         <a href="#" style="color: blue" onclick="refreshCode()">换一个</a><br>
         <img id="verifyCode" src="/verificationCode" style="margin-left: 16px"><br>
         <input type="checkbox" name="rememberMe" >记住我<br><br>
         <button type="submit" id="btn_submit">登&emsp;录</button>
    </form>
    <script type="text/javascript">
        function refreshCode() {
            document.getElementById("verifyCode").setAttribute("src","/verificationCode");
        }
    </script>

</body>
</html>